@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sms.js"></script>

<h1>Messages</h1>

<table class="table" id="messageList">
    <thead>
        <tr>
            <th>From Number</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>